@charset "UTF-8";
/*--------------------
	Mixin
--------------------*/
/*--------------------
	about
--------------------*/
#content .inner {
  width: 90.625%;
  margin: 0 auto;
}
#content h3 {
  color: #eb6b6c;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.5em;
  position: relative;
  margin-bottom: 8.4%;
}
#content h3 img {
  width: 27%;
  position: absolute;
  top: -60%;
  right: 5%;
}
#content .pop {
  padding-bottom: 3%;
}
#content .popleft {
}
#content .popleft img {
  width: 100%;
  margin: 3% 0;
}
#content .popright h3 {
  color: #ec79ac;
  font-size: 16px;
  font-size: 1.6rem;
}
#content .popright h4 {
  color: #3d3d3d;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.5em;
}
#content .popright h4 span {
  color: #ec79ac;
  margin-right: 2%;
}
#content .popright ul {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.4em;
  margin-top: 3%;
}
#content .popright ul li {
  margin-bottom: 2%;
}
#content .popright ul li dl {
	width:100%;
}
#content .popright ul li dt {
  font-size: 14px;
  font-size: 1.4rem;
  background: #ec79ac;
  color: #fff;
  border-radius: 5px;
  padding: 0.6em 2%;
  margin-right: 2%;
  width: 18%;
  text-align: center;
	float:left;
	display:block;
	vertical-align:middle;
}
#content .popright ul li dd {
  font-size: 14px;
  font-size: 1.4rem;
	float:right;
	width:78%;
  padding: 0.6em 0%;
	display:block;
	vertical-align:middle;
}
#content .hap h3 {
  margin-bottom: 3%;
}
#content .hap h3 img {
  width: 30%;
  top: 2%;
  right: 0%;
}
#content .hap ul {
  margin-bottom: 5%;
}
#content .hap ul li {
  width: 25%;
  float: left;
}
#content .chara {
  color: #eb6b6c;
  margin-top: 14%;
  padding-bottom: 7%;
}
#content .chara h4 {
  font-size: 12px;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 7.6%;
}
#content .chara .name {
  font-size: 20px;
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  text-align: center;
  padding-bottom: 28%;
}
#content .chara .name img {
  width: 45%;
  position: absolute;
  bottom: -22%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
#content .chara .chara_inner {
  background: #fffcd3;
  border-radius: 5px;
  padding: 7.6% 4% 4%;
}

@media print, screen and (min-width: 769px) {
  /* 769px以上用（PC用）の記述 */
  #content .inner {
    width: 1000px;
    margin: 0 auto;
  }
  #content h3 {
    color: #eb6b6c;
    font-size: 280%;
    line-height: 1.5em;
    position: relative;
    margin-bottom: 60px;
  }
  #content h3 img {
    width: 160px;
    position: absolute;
    top: -90px;
    right: 0;
  }
  #content h3 .pcno {
    display: none;
  }
  #content .pop {
    margin-top: 20px;
    padding-bottom: 60px;
  }
  #content .popleft img {
    width: 543px;
    margin: 0;
  }
  #content .popleft {
    margin: 0;
    width: 545px;
    float: left;
  }
  #content .popright {
    float: right;
    width: 430px;
  }
  #content .popright h3 {
    color: #ec79ac;
    font-size: 180%;
    margin-bottom: 10px;
  }
  #content .popright h4 {
    font-size: 180%;
  }
  #content .popright h4 span {
    margin-right: 8px;
  }
  #content .popright ul {
    font-size: 140%;
    margin-top: 15px;
  }
  #content .popright ul li {
    margin-bottom: 15px;
    text-indent: 0;
    padding-left: 0;
  }
  #content .popright ul li dt {
    font-size: 90%;
    background: #ec79ac;
    color: #fff;
    border-radius: 5px;
    padding: 8px 15px;
    margin-right: 3%;
    width: 27%;
    text-align: center;
  }
  #content .popright ul li dd {
    font-size: 90%;
		width:70%;
	}
  #content .hap h3 {
    margin-bottom: 45px;
  }
  #content .hap h3 img {
    width: 162px;
    top: -40px;
    right: 0;
  }
  #content .hap ul {
    margin-bottom: 20px;
  }
  #content .hap ul li {
    width: 249px;
    float: left;
  }
  #content .chara {
    margin-top: 75px;
    padding-bottom: 210px;
  }
  #content .chara h4 {
    font-size: 160%;
    text-align: left;
    margin-bottom: 0;
    padding-left: 250px;
  }
  #content .chara .name {
    font-size: 280%;
    text-align: left;
    padding: 0 0 0 250px;
  }
  #content .chara .name img {
    width: 233px;
    bottom: -80px;
    left: 15px;
    right: auto;
    margin: 0;
  }
  #content .chara .chara_inner {
    padding: 15px 40px 10px 265px;
  }
}
