@charset "UTF-8";
/*--------------------
	Mixin
--------------------*/
/*--------------------
	common
--------------------*/
html, body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, MS PGothic, sans-serif;
  font-size: 1.0rem;
  line-height: 1.5em;
  color: #292929;
	position:relative;
}

button {
  cursor: pointer;
}

.cf:after {
  content: "";
  clear: both;
  display: block;
}
.pcnone { display:block;}
.spnone { display:none;}

.fll {
  float: left;
}

.flr {
  float: right;
}

.tbl {
  display: table;
}

.cell {
  display: table-cell;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  vertical-align: bottom;
}

.imgSwitch {
  visibility: hidden;
}

/*--------------------
	header
--------------------*/
header {
  background: #eb6b6c;
  padding: 7% 0 3.125%;
  position: relative;
}
header h1 {
  width: 62.5%;
  margin: 0 auto;
}
header #spMenu_btn {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 2px;
  width: 9.84375%;
  position: absolute;
  top: 10%;
  right: 4.6875%;
}
header #spMenu_btn span {
  display: block;
  width: 65%;
  height: 2px;
  background: #eb6b6c;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
header #spMenu_btn span:before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #eb6b6c;
  position: absolute;
  top: 8px;
  left: 0;
  margin: 0 auto;
}
header #spMenu_btn span:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #eb6b6c;
  position: absolute;
  bottom: 8px;
  left: 0;
  margin: 0 auto;
}
header .pcMenu_area {
  display: none;
}
header .menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 90.625%;
  background: #fff;
  margin: 0 auto;
  border-top: 2px solid #eb6b6c;
  z-index: 99999;
}
header .menu li {
  border: 2px solid #eb6b6c;
  border-top: none;
}
header .menu li p ,
header .menu li a {
  display: block;
  color: #eb6b6c;
  text-decoration: none;
  font-size: 22px;
  font-size: 2.2rem;
  text-align: center;
  line-height: 1.313em;
  padding: 7% 0;
}
header .menu li.btn_menu03 br, header .menu li.btn_menu05 br, header .menu li.btn_menu06 br {
  display: none;
}
header .menu li.btn_menu02 a {
  padding: 3% 0;
}

/*--------------------
	footer
--------------------*/
footer {
  padding-bottom: 4.6875%;
}
footer .relation_site {
  background: #efefef;
  padding: 3.75% 0;
}
footer .relation_site li {
  width: 90.625%;
  margin: 0 auto 1.4%;
}
footer .foot_inner {
  border-top: 1px solid #c4c4c4;
  margin-top: 9.375%;
  padding-top: 4.6875%;
}
footer h2 {
  width: 20%;
  margin: 0 auto 4.6875%;
}
footer p {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.625em;
  text-align: center;
}
footer p span {
  display: block;
}
footer h3 {
  display: none;
}
#pagetop {
	position: fixed;
	margin:0;
	padding: 0;
	right: 5%;
	bottom:20px;
	z-index: 100;
}

/*--------------------
	content
--------------------*/
.wrap { position:relative;}
#content { margin-bottom:14em;}
#content h2 {
  background: url("../images/common/bg_dotted.jpg") left top;
  text-align: center;
  color: #eb6b6c;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1em;
  padding: 7.03% 0 7.2%;
  margin-bottom: 3.125%;
}
#content p {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.778em;
}
header .menu li.btn_no {
    background:#efefef;
  }
header .menu li.btn_no a{
    color:#565656 !important;
    pointer-events : none;
    }


#content.junbi img {
  display: block;
  width: 48.125%;
  margin: 18% auto 25%;
}
#content.junbi.kosodate img {
  display: block;
  width: 48.125%;
  margin: 18% auto 0;
}
#content.junbi.kosodate a {
  display: block;
  text-align: center;
  color: #555;
  text-decoration: none;
  margin: 7% 0 25%;
  font-size: 16px;
  font-size: 1.6rem;
}

@media print, screen and (min-width: 769px) {
	.pcnone { display:none;}
	.spnone { display:block;}
  body {
    -webkit-print-color-adjust: exact;
  }
  /* 769px以上用（PC用）の記述 */
  a img:hover {
    opacity: 0.7;
  }

  /*--------------------
  	header
  --------------------*/
  header {
    padding: 0;
    border-top: 2px solid #febaa3;
  }
  header .head_inner {
    width: 1000px;
    margin: 0 auto;
    position: relative;
  }
  header h1 {
    width: 758px;
    margin: 0;
    position: absolute;
    top: -9px;
    left: 0;
  }
  header #spMenu_btn {
    display: none;
  }
  header .pcMenu_area {
    display: block;
    margin-top: 16px;
  }
  header .pcMenu_area .fntSize {
    width: 170px;
    font-size: 12px;
    color: #fff;
    margin: 0 0 47px auto;
  }
  header .pcMenu_area .fntSize span {
    background: #f8c1c1;
    color: #eb6b6c;
    margin-left: 12px;
    padding: 5px 0.5em;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-khtml-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
  }
  header .pcMenu_area .fntSize span.active { background:#fff;}
  header .pcMenu_area .subnav {
    width: 385px;
    border-right: 2px solid #f09899;
    margin-left: auto;
    padding-bottom: 5px;
    position: relative;
    z-index: 9999;
  }
  header .pcMenu_area .subnav li {
    float: left;
    font-weight: bold;
    font-size: 12px;
  }
  header .pcMenu_area .subnav li a {
    display: block;
    border-left: 2px solid #f09899;
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
 }
  header .pcMenu_area .subnav li a:hover{
      color: #F8F492;}
  header .pcMenu_area .subnav .btn_no a{
     pointer-events : none;
      }


  header nav {
    background: #fff;
    width: 100%;
    padding-top: 35px;
  }
  header .nav_inner {
    background: #fff;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
  }
  header .menu {
    position: static;
    width: 996px;
    background: #fff;
    margin: 0 auto;
    border-top: none;
    display: table;
    border-right: 1px solid #d8d8d8;
  }
  header .menu li {
    border: none;
    border-left: 1px solid #d8d8d8;
    display: table-cell;
    vertical-align: middle;
    padding: 15px 0;
    width: 205px;
  }
  header .menu li p ,
  header .menu li a {
    display: block;
    color: #eb6b6c;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    line-height: 1.313em;
    padding: 0 0;
  }
	header .menu li span {
		display:block;
		font-size:12px;
	}
  header .menu li.btn_menu03 br, header .menu li.btn_menu05 br, header .menu li.btn_menu06 br {
    display: inline;
  }
  header .menu li.btn_menu01 a {
    color: #5db0e5;
  }
  header .menu li.btn_menu02 a {
    padding: 0;
    color: #d9c80d;
  }
  header .menu li.btn_menu03 a {
    color: #eb6b6c;
  }
  header .menu li.btn_menu04 ,
  header .menu li.btn_menu04 a {
    color: #ac832b;
  }
  header .menu li.btn_menu05 a {
    color: #d26a6b;
  }
  header .menu li.btn_menu06 a {
    color: #bc8586;
  }

header .menu li.btn_no {
    background:#efefef;
  }
header .menu li.btn_no a{
    color:#565656 !important;
    pointer-events : none;
    }

  /*--------------------
  	footer
  --------------------*/
  footer {
    padding-bottom: 0;
    background: #efefef;
    position: relative;
  }
  footer h3 {
    display: block;
    font-size: 15px;
    color: #565656;
    line-height: 1em;
    text-align: center;
    padding-top: 25px;
  }
  footer .relation_site {
    background: #efefef;
    padding: 22px 0 40px;
    width: 802px;
    margin: 0 auto;
  }
  footer .relation_site li {
    float: left;
    width: 178px;
    margin: 0 0 0 30px;
  }
  footer .relation_site li:first-child {
    margin-left: 0;
  }
  footer .foot_inner {
    border-top: 1px solid #c4c4c4;
    margin-top: 0;
    padding-top: 0;
    background: #fff;
  }
  footer .foot_inner > div {
    width: 1000px;
    margin: 0 auto;
    padding: 8px 0;
  }
  footer h2 {
    width: 88px;
    margin: 0 20px 0 0;
    padding-top: 5px;
    float: left;
  }
  footer .foot_deta {
    float: left;
  }
  footer p {
    font-size: 10px;
    line-height: 1.5em;
    text-align: left;
  }
  footer p span {
    display: inline;
  }
  #pagetop {
		width:auto;
    position: fixed;
		margin:0;
    padding: 0;
    right: 5%;
		bottom:20px;
    z-index: 100;
	}

  /*--------------------
  	content
  --------------------*/
  #content .pcbgh2 {
    background: url("../images/common/bg_dotted.jpg") left top;
  }
  #content h2 {
    width: 1000px;
    background: none;
    text-align: left;
    font-size: 280%;
    line-height: 1em;
    padding: 28px 0;
    margin: 0 auto;
    margin-bottom: 3.125%;
  }
  #content p {
    font-size: 160%;
    line-height: 1.75em;
  }

  #content.junbi img {
    display: block;
    width: 305px;
    margin: 70px auto 220px;
  }
  #content.junbi.kosodate img {
    display: block;
    width: 305px;
    margin: 70px auto 0;
  }
  #content.junbi.kosodate a {
    display: block;
    text-align: center;
    color: #555;
    text-decoration: none;
    margin: 40px 0 220px;
    font-size: 16px;
  }
  #content.junbi.kosodate a:hover {
    color: #eb6b6c;
    text-decoration: underline;
  }
}
