@charset "UTF-8";
/*--------------------
	Mixin
--------------------*/
/*--------------------
	policy
--------------------*/

#content .btn_bridal a ,
#content h4#area_bridal { /* 結婚部門  */
  background: url("../images/episode/bg_blue.jpg") left top;
}
#content .btn_pregnancy a ,
#content h4#area_pregnancy { /* 妊娠部門 */
  background: url("../images/episode/bg_pink.jpg") left top;
}
#content .btn_birth a ,
#content h4#area_birth { /* 出産部門  */
  background: url("../images/episode/bg_green.jpg") left top;
}
#content .btn_child a ,
#content h4#area_child { /* 子育て部門 */
  background: url("../images/episode/bg_orange.jpg") left top;
}

#content .list_btn {
	width:95%;
	margin:0 auto 3em;
}
#content .list_btn a {
	color:#fff;
	display:block;
	width:100%;
	text-align:center;
	font-size:2px;
	font-size:2rem;
	letter-spacing:0.1em;
	padding:1.4em 0;
	/* border-radius */
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	text-decoration:none;
	margin-bottom:0.5em;
}

#content h4 {
	color:#fff;
	text-align:center;
	font-size:2px;
	font-size:2rem;
	letter-spacing:0.1em;
	padding:1.4em 0;
}
#content ul.list_movie {
  width: 80%;
  margin: 3em auto;
  padding-bottom: 5%;
  color: #555;
}
#content ul.list_movie li {
	margin-bottom:2em;
}
#content ul.list_movie dt {
	margin-bottom:1em;
}
#content ul.list_movie dt a {
	display:block;
	background-size:contain; 
}
#content ul.list_movie dt a:hover { opacity:0.7;}

#content ul.list_movie dd h5 {
	font-size:18px;
	font-size:1.8rem;
	line-height:1.7em;
	margin-bottom:0.5em;
}
#content ul.list_movie dd .title_list p {
	font-weight:bold;
}
#content ul.list_movie dd p {
	font-size:14px;
	font-size:1.4rem;
	line-height:1.7em;
	margin-bottom:0.5em;
}


@media print, screen and (min-width: 769px) {
  /* 769px以上用（PC用）の記述 */

#content {
}
#content .ico_img {
	position:relative;
	width:1000px;
	height:5px;
}
#content .ico_img img {
	position:absolute;
	right:-15px;
	top:-90px;
}
#content .list_btn {
  width: 1000px;
	text-align:center;
  margin: 0 auto;
	padding:15px 0;
}
#content .list_btn li {
	display:inline-block;
	width:230px;
	margin:0 5px;
}
#content .list_btn a {
	color:#fff;
	display:block;
	width:100%;
	text-align:center;
	font-size:180%;
	letter-spacing:0.1em;
	padding:0.7em 0;
	/* border-radius */
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	text-decoration:none;
	margin-bottom:0.5em;
}

#content h4 {
	text-align:left;
	position:relative;
	font-size: 240%;
	padding:0.9em 0;
}
#content h4 .spnone {
	position:relative;
	display:inline-block;
	margin-right:0.5em;
}
#content h4#area_bridal .spnone {
	top:10px;
	margin-top:-33px;
}
#content h4#area_pregnancy .spnone {
	top:10px;
	margin-left:20px;
	margin-top:-39px;
}
#content h4#area_birth .spnone {
	top:10px;
	margin-top:-55px;
}
#content h4#area_child .spnone {
	top:10px;
	margin-top:-58px;
}
#content h4 .h4_title {
	display:block;
	width:1000px;
	margin:0 auto;
}
#content .list_wrap {
	background:url("../images/common/bg_dotted.jpg") left top;
}
#content ul.list_movie {
  width: 1000px;
  margin: 0 auto;
  padding: 25px 0 40px;
}
#content ul.list_movie li {
	margin-bottom:20px;
	padding:15px;
	background:#fff;
}
#content ul.list_movie dt {
	width:230px;
	margin-bottom:0;
	float:left;
}
#content ul.list_movie dd {
	width:720px;
	float:right;
}
#content ul.list_movie dd h5 {
	font-size:180%;
	line-height:1.7em;
	margin-bottom:0.5em;
}
#content ul.list_movie dd .title_list p {
	width:18%;
	float:left;
	font-size:140%;
	margin-top:5px;
}
#content ul.list_movie .name_on h5 {
	width:80%;
	float:right;
}
#content ul.list_movie dd p {
	font-size:140%;
	line-height:1.7em;
	margin-bottom:0.5em;
}

}
