@charset "UTF-8";
/*--------------------
	Mixin
--------------------*/
/*--------------------
	formTOP
--------------------*/
#content.top .inner {
  width: 90.625%;
  margin: 0 auto;
}
#content.top .inner h3 {
  background: #eb6b6c;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1em;
  padding: 3% 0;
  border-radius: 5px 5px 0 0;
}
#content.top .btn_form li {
  border-radius: 5px;
  width: 75%;
  margin: 7.8% auto 9.375%;
}
#content.top .btn_form li a {
  text-decoration: none;
  display: block;
  width: 100%;
  color: #fff;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.333em;
  padding: 3% 3.9%;
  text-align: center;
  margin: 0;
  border: 1px solid #fff;
  border-radius: 5px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f287+0,fffcd1+100 */
  background: #f7f287;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f7f287 0%, #fffcd1 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f7f287 0%, #fffcd1 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f7f287 0%, #fffcd1 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f287', endColorstr='#fffcd1',GradientType=0 );
  /* IE6-9 */
}
#content.top .btn_form li.bt01 {
  border: 2px solid #5892e6;
}
#content.top .btn_form li.bt01 a {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0083e6+0,72dcea+100 */
  background: #0083e6; /* Old browsers */
  background: -moz-linear-gradient(top, #0083e6 0%, #72dcea 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #0083e6 0%,#72dcea 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #0083e6 0%,#72dcea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0083e6', endColorstr='#72dcea',GradientType=0 ); /* IE6-9 */
}
#content.top .btn_form li.bt01 a span {
  border-bottom: 1px solid #1870d2;
}
#content.top .btn_form li.bt01 a span.sub {
  border-top: 1px solid #c1d8fc;
}
#content.top .btn_form li.bt02 {
  border: 2px solid #fa6d6f;
}
#content.top .btn_form li.bt02 a {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f060ae+0,ff98e6+100 */
  background: #f060ae; /* Old browsers */
  background: -moz-linear-gradient(top, #f060ae 0%, #ff98e6 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f060ae 0%,#ff98e6 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f060ae 0%,#ff98e6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f060ae', endColorstr='#ff98e6',GradientType=0 ); /* IE6-9 */
}
#content.top .btn_form li.bt02 a span {
  border-bottom: 1px solid #ef4548;
}
#content.top .btn_form li.bt02 a span.sub {
  border-top: 1px solid #ffb2ee;
}
#content.top .btn_form li.bt03 {
  border: 2px solid #23a748;
}
#content.top .btn_form li.bt03 a {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#40bd5d+0,a9e48f+100 */
  background: #40bd5d; /* Old browsers */
  background: -moz-linear-gradient(top, #40bd5d 0%, #a9e48f 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #40bd5d 0%,#a9e48f 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #40bd5d 0%,#a9e48f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40bd5d', endColorstr='#a9e48f',GradientType=0 ); /* IE6-9 */
}
#content.top .btn_form li.bt03 a span {
  border-bottom: 1px solid #43be5f;
}
#content.top .btn_form li.bt03 a span.sub {
  border-top: 1px solid #fff;
}
#content.top .btn_form li.bt04 {
  border: 2px solid #f26330;
}
#content.top .btn_form li.bt04 a {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f87341+0,ffc772+100 */
  background: #f87341; /* Old browsers */
  background: -moz-linear-gradient(top, #f87341 0%, #ffc772 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f87341 0%,#ffc772 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f87341 0%,#ffc772 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f87341', endColorstr='#ffc772',GradientType=0 ); /* IE6-9 */
}
#content.top .btn_form li.bt04 a span {
  border-bottom: 1px solid #fa6c6e;
}
#content.top .btn_form li.bt04 a span.sub {
  border-top: 1px solid #fffefe;
}
#content.top .btn_form li a span {
  display: block;
  padding-bottom: 4%;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1em;
}
#content.top .btn_form li a span.sub {
  display: block;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.333em;
  border-bottom: none;
  padding-top: 4%;
  padding-bottom: 0;
  position: relative;
  text-align: left;
  padding-left: 23%;
}
#content.top .btn_form li a span.sub:before {
  content: "応募例";
  color: #fff;
  display: block;
  background: rgba(255,255,255,0.3);
  border-radius: 5px;
  position: absolute;
  padding: 2% 0;
  top: 33%;
  left: 0;
  text-align: center;
  width: 20%;
  font-size: 11px;
  font-size: 1.1rem;
}

#content.top .app {
  border: 1px solid #d3d3d3;
  border-top: none;
  margin-bottom: 10%;
  padding: 4.2% 5% 0;
  border-radius: 0 0 5px 5px;
}
#content.top .indent01 span {
  display: block;
  text-indent: -1em;
  padding-left: 1em;
  color: #292929;
}
#content.top .app h4 {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5em;
  text-indent: -0.5em;
}
#content.top .app p {
  margin-bottom: 5%;
}

/*--------------------
	form中
--------------------*/
#content .inner {
  width: 90.625%;
  margin: 0 auto;
}
#content p span {
  color: #ff0000;
}
#content .file_up {
  border: 1px solid #8b8b8b;
  border-radius: 2px;
  padding: 6.875% 1.4% 3.125% 0;
  margin-top: 3.9%;
}
#content .file_up button {
  display: block;
  width: 53%;
  margin: 0 auto 4%;
  padding: 5% 0;
  background: #eb6b6c;
  color: #fff;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1em;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 0px 0px #9c5051;
}
#content .file_up p {
  text-indent: -1em;
  padding-left: 1em;
}
#content .ep_area {
  margin-top: 6.25%;
}
#content .ep_area h3 {
  background: #eb6b6c;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1em;
  padding: 3% 0;
  border-radius: 5px 5px 0 0;
  position: relative;
  z-index: 10;
}
#content .ep_area ul {
  font-size: 18px;
  font-size: 1.8rem;
  border: 1px solid #d3d3d3;
  border-top: none;
  border-radius: 0 0 5px 5px;
  padding: 4.3% 13%;
}
#content .ep_area li span {
  display: block;
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 2%;
}
#content .reason ul .other1 {
  width: 100%;
  margin-top: 5%;
}
#content .reason ul .req {
  width: 100%;
  color: #ff0000;
}
#content .ep_area li span br {
  display: none;
}
#content .ep_area li input {
  width: 100%;
  margin-bottom: 6%;
}
#content .ep_area textarea {
  width: 100%;
  height: 150px;
  border: 1px solid #9b9b9b;
  resize: none;
  padding-top: 7px;
  font-size: 14px;
  font-size: 1.4rem;
}
#content .support {
  margin-top: 6.25%;
}
#content .support h3 {
  background: #eb6b6c;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.4em;
  padding: 1.5% 6%;
  border-radius: 5px 5px 0 0;
}
#content .support ul {
  font-size: 18px;
  font-size: 1.8rem;
  border: 1px solid #d3d3d3;
  border-top: none;
  border-radius: 0 0 5px 5px;
  padding: 4.3% 6%;
}
#content .support ul li {
  margin-bottom: 5%;
}
#content .support ul label input {
  margin-right: 3%;
}
#content .support ul label span {
  font-size: 12px;
  font-size: 1.2rem;
  display: block;
  margin-left: 9%;
}
#content .imp_area {
  margin-top: 6.25%;
}
#content .imp_area h3 {
  background: #eb6b6c;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.4em;
  padding: 1.5% 6%;
  border-radius: 5px 5px 0 0;
  position: relative;
  z-index: 10;
}
#content .imp_area textarea {
  width: 100%;
  height: 150px;
  border: 1px solid #d3d3d3;
  border-top: none;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.53) inset;
  resize: none;
  border-radius: 0 0 5px 5px;
  padding-top: 7px;
  margin-top: -5px;
  font-size: 14px;
  font-size: 1.4rem;
}
#content .reason {
  margin-top: 6.25%;
}
#content .reason h3 {
  background: #eb6b6c;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1em;
  padding: 3% 0;
  border-radius: 5px 5px 0 0;
}
#content .reason ul {
  font-size: 18px;
  font-size: 1.8rem;
  border: 1px solid #d3d3d3;
  border-top: none;
  border-radius: 0 0 5px 5px;
  padding: 4.3% 3%;
}
#content .reason ul li {
  margin-bottom: 5%;
  float: left;
  width: 50%;
}
#content .reason ul li textarea {
  resize: none;
  width: ;
}
#content .reason ul label input {
  margin-right: 3%;
}
#content .form_area {
  margin-top: 6.25%;
}
#content .form_area h3 {
  background: #eb6b6c;
  color: #fff;
  font-size: 18px;
  font-size: 1.8rem;
  text-align: center;
  line-height: 1em;
  padding: 3% 0;
  border-radius: 5px 5px 0 0;
}
#content .form_area ul {
  font-size: 18px;
  font-size: 1.8rem;
  border: 1px solid #d3d3d3;
  border-top: none;
  border-radius: 0 0 5px 5px;
  padding: 4.3% 13%;
}
#content .form_area li span {
  display: block;
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 2%;
}
#content .form_area li small {
  font-size: 12px;
  font-size: 1.2rem;
  color: #555;
  display: block;
  margin-top: -5%;
  margin-bottom: 6%;
}
#content .form_area li input {
  width: 100%;
  margin-bottom: 6%;
}
#content .form_area li input[size="20"] {
  width: 55%;
}
#content .submit_btn {
  border: 2px solid #fa6d6f;
  border-radius: 5px;
  width: 75%;
  margin: 5% auto 7.8%;
}
#content input[type="submit"] {
  display: block;
  width: 100%;
  -webkit-appearance: button;
  background: #fff;
  color: #e1383a;
  font-size: 20px;
  font-size: 2rem;
  padding: 3.9%;
  text-align: center;
  margin: 0;
  border: 1px solid #fff;
  border-radius: 5px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f287+0,fffcd1+100 */
  background: #f7f287;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f7f287 0%, #fffcd1 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f7f287 0%, #fffcd1 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f7f287 0%, #fffcd1 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f287', endColorstr='#fffcd1',GradientType=0 );
  /* IE6-9 */
}

#content .back_btn {
  border: 2px solid #fa6d6f;
  border-radius: 5px;
  width: 75%;
  margin: 5% auto 0%;
}
#content .back_btn a {
  text-decoration: none;
  display: block;
  width: 100%;
  background: #fff;
  color: #e1383a;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.5em;
  padding: 3.9%;
  text-align: center;
  margin: 0;
  border: 1px solid #fff;
  border-radius: 5px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f287+0,fffcd1+100 */
  background: #f7f287;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f7f287 0%, #fffcd1 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f7f287 0%, #fffcd1 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f7f287 0%, #fffcd1 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f287', endColorstr='#fffcd1',GradientType=0 );
  /* IE6-9 */
}

/*--------------------
	form確認
--------------------*/
#content.conf .upfiles {
  width: 53%;
  margin: 0 auto 4%;
  padding: 5% 0;
  background: #eb6b6c;
  color: #fff;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1em;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 0px 0px #9c5051;
  text-align: center;
}
#content.conf textarea {
  padding: 3%;
}
#content.conf .ep_area p {
  margin-bottom: 5%;
}
#content.conf .support span {
  font-size: 12px;
  font-size: 1.2rem;
  display: block;
  margin: 1% 0 0 0;
}
#content.conf .reason ul {
  padding: 4.3% 6%;
}
#content.conf .reason ul li {
  width: 43%;
  margin-left: 5%;
}
#content.conf .reason ul li:nth-child {
  margin-left: 0;
}
#content.conf .form_area p {
  margin-bottom: 7%;
  line-height: 1em;
}

/*--------------------
	formサンクスページ
--------------------*/
#content.thanks .thanks_inner {
  background: #fdfcbf;
  border-radius: 5px;
  padding: 17% 0 8%;
  position: relative;
  margin-top: 25%;
}
#content.thanks .thanks_inner img {
  width: 38.983%;
  position: absolute;
  left: 0;
  right: 0;
  top: -50%;
  margin: 0 auto;
}
#content.thanks .thanks_inner p {
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: bold;
  color: #eb6b6c;
  text-align: center;
}

@media print, screen and (min-width: 769px) {
  /* 769px以上用（PC用）の記述 */
  /*--------------------
  	formTOP
  --------------------*/
  #content.top .inner {
    width: 1000px;
    margin: 0 auto;
  }
  #content.top .inner h3 {
    font-size: 200%;
    line-height: 1em;
    padding: 12px 0;
    border-radius: 5px 5px 0 0;
  }
  #content.top .btn_form {
    padding-bottom: 40px;
  }
  #content.top .btn_form li {
    border: 2px solid #fa6d6f;
    border-radius: 5px;
    width: 485px;
    margin: 0 0 25px 30px;
    float: left;
  }
  #content.top .btn_form li:nth-child(odd) {
    margin-left: 0;
  }
  #content.top .btn_form li a {
    display: block;
    width: 100%;
    color: #fff;
    font-size: 260%;
    padding: 15px 25px;
    text-align: center;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 5px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f287+0,fffcd1+100 */
    background: #f7f287;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f7f287 0%, #fffcd1 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f7f287 0%, #fffcd1 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f7f287 0%, #fffcd1 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f287', endColorstr='#fffcd1',GradientType=0 );
    /* IE6-9 */
  }
  #content.top .btn_form li a span {
    display: block;
    border-bottom: 1px solid #dedf4b;
    padding-bottom: 17px;
    font-size: 50%;
    line-height: 1em;
  }
  #content.top .btn_form li a span.sub {
    display: block;
    font-size: 60%;
    line-height: 1.333em;
    border-top: 1px solid #fff;
    border-bottom: none;
    padding-top: 17px;
    padding-bottom: 0;
    padding-left: 100px;
  }
  #content.top .btn_form li a span.sub:before {
    content: "応募例";
    top: 19px;
    text-align: center;
    width: 85px;
    font-size: 100%;
  }
  #content.top .app {
    border: 1px solid #d3d3d3;
    border-top: none;
    margin-bottom: 50px;
    padding: 30px 55px 10px;
    border-radius: 0 0 5px 5px;
  }
  #content.top .app h4 {
    font-size: 140%;
    line-height: 1.5em;
  }
  #content.top .app p {
    margin-bottom: 30px;
  }

  /*--------------------
  	form中
  --------------------*/
  #content .inner {
    width: 1000px;
    margin: 0 auto;
  }
  #content .file_up {
    border-radius: 3px;
    padding: 20px 55px;
    margin-top: 55px;
  }
  #content .file_up button {
    width: 305px;
    margin: 0 auto;
    padding: 22px 0;
    background: #eb6b6c;
    color: #fff;
    font-size: 18px;
    line-height: 1em;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    float: left;
  }
  #content .file_up p {
    text-indent: 0;
    padding-left: 0;
  }
  #content .file_up > div {
    float: right;
    padding-top: 8px;
    width: 530px;
  }
  #content .file_up > div p {
    font-size: 14px;
  }
  #content .ep_area {
    margin-top: 45px;
  }
  #content .ep_area h3 {
    font-size: 20px;
    line-height: 1em;
    padding: 12px 0;
    border-radius: 5px 5px 0 0;
  }
  #content .ep_area ul {
    font-size: 16px;
    padding: 40px 0 40px 180px;
  }
  #content .ep_area li {
    margin-bottom: 25px;
  }
  #content .ep_area li span {
    display: block;
    font-size: 16px;
    margin-bottom: 0;
    float: left;
    width: 180px;
    margin-top: 14px;
  }
  #content .ep_area li span small {
    display: inline-block;
    font-size: 14px;
    line-height: 1.7em;
    text-indent: -0.5em;
  }
  #content .ep_area li span br {
    display: inline;
  }
  #content .ep_area li input {
    width: 435px;
    height: 43px;
    margin-bottom: 0;
    font-size: 16px;
  }
  #content .ep_area li textarea {
    width: 435px;
    font-size: 16px;
  }
  #content .support {
    margin-top: 45px;
  }
  #content .support h3 {
    font-size: 20px;
    line-height: 1em;
    padding: 12px 0;
    border-radius: 5px 5px 0 0;
  }
  #content .support ul {
    font-size: 16px;
    padding: 40px 0 40px 35px;
  }
  #content .support ul li {
    margin-bottom: 25px;
    float: left;
    width: 320px;
  }
  #content .support ul label input {
    margin-right: 5px;
    vertical-align: text-bottom;
  }
  #content .support ul label span {
    font-size: 14px;
    display: inline;
    margin-left: 5px;
  }
  #content .imp_area {
    margin-top: 45px;
  }
  #content .imp_area h3 {
    font-size: 20px;
    line-height: 1em;
    padding: 12px 0;
    border-radius: 5px 5px 0 0;
    position: relative;
    z-index: 10;
  }
  #content .imp_area textarea {
    width: 100%;
    height: 200px;
    border: 1px solid #d3d3d3;
    border-top: none;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.53) inset;
    resize: none;
    border-radius: 0 0 5px 5px;
    padding-top: 7px;
    margin-top: -5px;
    font-size: 14px;
  }
  #content .reason {
    margin-top: 45px;
  }
  #content .reason h3 {
    font-size: 20px;
    line-height: 1em;
    padding: 12px 0;
    border-radius: 5px 5px 0 0;
  }
  #content .reason ul {
    font-size: 16px;
    padding: 40px 70px 40px 70px;
  }
  #content .reason ul li {
    margin-right: 30px;
    margin-bottom: 15px;
    float: left;
    width: auto;
  }
  #content .reason ul .other2 {
    width: 100%;
    margin-bottom: 0;
  }
  #content .reason ul .other2 textarea {
    height: 100px;
  }
  #content .reason ul label input {
    margin-right: 5px;
    vertical-align: text-bottom;
  }
  #content .form_area {
    margin-top: 45px;
  }
  #content .form_area h3 {
    font-size: 20px;
    line-height: 1em;
    padding: 12px 0;
    border-radius: 5px 5px 0 0;
  }
  #content .form_area ul {
    font-size: 16px;
    padding: 40px 0 40px 180px;
  }
  #content .form_area li {
    margin-bottom: 25px;
  }
  #content .form_area li span {
    display: block;
    font-size: 16px;
    margin-bottom: 0;
    float: left;
    width: 180px;
    margin-top: 14px;
  }
  #content .form_area li small {
    display: block;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 180px;
  }
  #content .form_area li input {
    width: 435px;
    height: 43px;
    margin-bottom: 0;
    font-size: 16px;
  }
  #content .form_area li input[size="20"] {
    width: 260px;
  }
  #content .submit_btn {
    border: 2px solid #fa6d6f;
    border-radius: 5px;
    width: 485px;
    margin: 0px auto 100px;
  }
  #content input[type="submit"] {
    display: block;
    width: 100%;
    -webkit-appearance: button;
    background: #fff;
    color: #e1383a;
    font-size: 26px;
    padding: 25px;
    text-align: center;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 5px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f287+0,fffcd1+100 */
    background: #f7f287;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f7f287 0%, #fffcd1 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f7f287 0%, #fffcd1 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f7f287 0%, #fffcd1 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f287', endColorstr='#fffcd1',GradientType=0 );
    /* IE6-9 */
  }
  #content .back_btn {
    border: 2px solid #fa6d6f;
    border-radius: 5px;
    width: 485px;
    margin: 75px auto 20px;
  }
  #content .submit_btn.nofl {
    float: none;
    margin-top: 75px;
  }
  #content .back_btn a {
    display: block;
    width: 100%;
    background: #fff;
    color: #e1383a;
    font-size: 26px;
    padding: 25px;
    text-align: center;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 5px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f287+0,fffcd1+100 */
    background: #f7f287;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f7f287 0%, #fffcd1 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f7f287 0%, #fffcd1 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f7f287 0%, #fffcd1 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f287', endColorstr='#fffcd1',GradientType=0 );
    /* IE6-9 */
  }

  /*--------------------
  	form確認
  --------------------*/
  #content.conf .upfiles {
    width: 305px;
    margin: 0 auto;
    padding: 22px 0;
    background: #c9c9c9;
    color: #fff;
    font-size: 18px;
    line-height: 1em;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    float: left;
  }
  #content.conf textarea {
    padding: 3%;
  }
  #content.conf .ep_area ul {
    padding: 40px 150px 40px;
  }
  #content.conf .ep_area li span {
    margin: 0;
    line-height: 1.5em;
    font-weight: bold;
  }
  #content.conf .ep_area p {
    float: left;
    margin-bottom: 0;
    line-height: 1.5em;
    width: 510px;
  }
  #content.conf .support span {
    font-size: 12px;
    font-size: 1.2rem;
    display: block;
    margin: 1% 0 0 0;
  }
  #content.conf .reason ul {
    padding: 40px 0 25px 35px;
  }
  #content.conf .reason ul li {
    width: auto;
    margin-left: 50px;
  }
  #content.conf .reason ul li:nth-child {
    margin-left: 0;
  }
  #content.conf .form_area li span {
    margin-top: 0;
    line-height: 1.5em;
    font-weight: bold;
  }
  #content.conf .form_area p {
    float: left;
    margin-bottom: 0;
    line-height: 1.5em;
  }

  /*--------------------
  	formサンクスページ
  --------------------*/
  #content.thanks .thanks_inner {
    background: #fdfcbf;
    border-radius: 5px;
    padding: 50px 0 45px;
    position: relative;
    margin: 160px 0;
  }
  #content.thanks .thanks_inner img {
    width: 230px;
    position: absolute;
    left: 115px;
    right: auto;
    top: -35px;
    margin: 0;
  }
  #content.thanks .thanks_inner p {
    font-size: 28px;
    font-weight: bold;
    color: #eb6b6c;
    text-align: left;
    padding-left: 380px;
  }
}
