@charset "UTF-8";
/*--------------------
	Mixin
--------------------*/
/*--------------------
	about
--------------------*/
.pcbgh2 h2 { margin-bottom:0 !important;}
.pcbgh3 {
  background: url("../images/kosodate/bg_ttl.jpg") left top #f8c7cf;
	padding-bottom:1.5em;
	margin-bottom:3em;
}
.pcbgh3 h3 {
	width:90%;
	background: none;
	line-height: 1em;
	margin: 0 auto;
	padding:1.2em 0 0;
}
.pcbgh3 h3 .ttl { margin-bottom:0.8em;}
.pcbgh3 ul {
	background:#fffcd3;
	border-top:1px solid #e90087;
	border-bottom:1px solid #e90087;
}
.pcbgh3 li:first-child {border-top:none;}
.pcbgh3 li {
	font-weight:bold;
	border-top:1px solid #e90087;
}
.pcbgh3 li a {
	display:block;
	font-size:16px;
	font-family:1.6rem;
	line-height:1.5em;
	padding:1.5em 0;
 color: #eb6b6c !important;
 text-align:center;
}
.pcbgh3 li:last-child a { padding:0.8em 0;}

#content .inner {
  width: 90.625%;
  margin: 0 auto;
}
#content h3 {
  color: #eb6b6c;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.5em;
  position: relative;
	text-align:center;
  margin-bottom: 3.4%;
}
.inner h4 {
	font-size:16px;
	margin-bottom:0.8em;
	line-height:1.5em;
}
.toha { margin-bottom:4em;}
.toha .img_toha { margin-bottom:3em;}
.toha .week {
	background:#dcffd6;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	padding:7% 2em 2em ;
	position:relative;
	margin-top:2em;
}
.toha .week h4 {
	width:60%;
	background:none;
	margin:-13% 0 2% -3%;
	padding:0;
}

.yokuaru { margin-bottom:2em}
.yokuaru li {	margin-bottom:3em; width:100%;}
.yokuaru li h4 {
	padding:0.4em 0.5em;
	color:#377ab9;
	background:#dff2fc;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.shisetsu { margin-bottom:4em;}
.shisetsu .top_area h4 {	text-align:center;}
.shisetsu .top_area ul {
	width:70%;
	margin:2.5em auto;
	text-align:center;
}
.shisetsu .top_area li {
	width:40%;
	font-size:1.2rem;
	float:none;
	display:inline-block;
	margin:0 0 0.3em 0;
}
.shisetsu .under_area {
	padding:7% 5% 5%;
  background: url("../images/kosodate/bg_shisetsu.jpg") left top;
	border-radius: 1em;
	-webkit-border-radius: 1em;
	-khtml-border-radius: 1em;
	-moz-border-radius: 1em;
	-ms-border-radius: 1em;
	-o-border-radius: 1em;
	position:relative;
}
.shisetsu .under_area:before {
	content:'';
	position:absolute;
  background: url("../images/kosodate/line_green.png") center top no-repeat;
	width:70%;
	height:10%;
	background-size:contain;
	left:15%;
	top:-3%;
}
.shisetsu .under_area p {
	color:#b36b33;
	font-weight:bold;
	margin-bottom:1.3em;
}
.shisetsu .under_area li {
	font-weight:bold;
	position:relative;
	text-indent:-1em;
	padding-left:1em;
	vertical-align:middle;
	font-size:1.4rem;
	line-height:1.6em;
}
.shisetsu .under_area li:before {
	content:'';
	width:1em;
	height:1em;
	background:#ee869a;
	border-radius: 1em;
	-webkit-border-radius: 1em;
	-khtml-border-radius: 1em;
	-moz-border-radius: 1em;
	-ms-border-radius: 1em;
	-o-border-radius: 1em;
	position:relative;
	display:inline-block;
	vertical-align:middle;
	margin-right:0.1em;
}

.renkei h4 { text-align:center;}
.renkei ul { margin:3em 0;}
.renkei li { margin-bottom:2.5em;}
.renkei li h5 {
	font-size:1.5rem;
	color:#fff;
	line-height:1.5em;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	padding:0.4em 0.7em;
	margin-bottom:0.6em;
}
.renkei li.green h5 {	background:#6bb061;}
.renkei li.blue h5 { background:#4ac1df;}
.renkei li.pink h5 { background:#f27ab3;}
.renkei li.green2 h5 { background:#51b49c;}
.renkei li.orange h5 { background:#e4ba3a;}
.renkei h5 span {
	margin-left:1.5em;
}
.renkei h5 span.ico_free:before {
	content:'';
  background: url("../images/kosodate/ico_free.png") left center no-repeat;
	width:1.5em;
	height:1em;
	background-size:contain;
	display:inline-block;
	margin-right:0.2em;
	vertical-align:middle;
}
.renkei h5 span.ico_phone:before {
	content:'';
  background: url("../images/kosodate/ico_phone.png") left center no-repeat;
	width:1.5em;
	height:1em;
	background-size:contain;
	display:inline-block;
	margin-right:0.2em;
	vertical-align:middle;
}
#content a {
  color: #555;
  text-decoration: none;
}
#content a:hover {
  text-decoration: underline;
  color: #eb6b6c;
}


@media print, screen and (min-width: 769px) {
  /* 769px以上用（PC用）の記述 */
#content .inner {
	width: 1000px;
	margin: 0 auto;
	padding-bottom:80px;
}
.pcbgh3 { padding-bottom:20px; margin-bottom:40px;}
.pcbgh3 h3 {
	width: 1000px;
	padding:30px 0 0;
	margin-bottom:0;
}
.pcbgh3 h3 .ttl {
	width:525px;
	float:left;
	margin:0;
}
.pcbgh3 h3 .ttl_icon {
	width:400px;
	float:right;
}
.pcbgh3 ul {
	text-align:center;
	width:1000px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-left:1px solid #e90087;
	border-right:1px solid #e90087;
	margin:0 auto;
	display:table;
}
.pcbgh3 li:first-child {	border-left:none;}
.pcbgh3 li {
	border-left:1px solid #e90087;
	border-top:none;
	display:table-cell;
	margin-left:-1px;
	width:24.5%;
	font-weight:normal;
	vertical-align:middle;
}
.pcbgh3 li a {
	padding:0.5em 0;
	font-size:17px;
}
.pcbgh3 li:last-child a {
	font-size:14px;
	padding:0.3em 0;
}
#content h3 {
	color: #eb6b6c;
	font-size: 280%;
	text-align:left;
	line-height: 1.5em;
	position: relative;
	margin-bottom: 1em;
	z-index:1;
}
.inner h4 {
	font-size:210%;
	text-align:left !important;
}

.toha {
	height:67em;
	margin-bottom:150px;
	position:relative;
}
.toha p:not(.img_toha) {
	width:355px;
	z-index:1;
	position:relative;
}
.toha .img_toha {
	position:relative;
	top:-200px;
	margin-bottom:-190px;
	right:0;
	z-index:0;
}
.toha .week {
	width:485px;
	padding:40px 25px 10px;
}
.toha .week h4 {
	position:absolute;
	top:-20px;
	left:10px;
	margin:0;
}
.toha .week p { width:100%;}

.yokuaru { margin-bottom:30px;}
.yokuaru li {
	width:485px;
	min-height:14.5em;
	margin-bottom:30px;
}
.yokuaru li:nth-child(odd) {
	clear:both;
}

.yokuaru p { font-size:140% !important;}

.shisetsu { margin-bottom:60px;}
.shisetsu .top_area {
	width:1000px;
	height:50em;
  background: url("../images/kosodate/img_shisetsu.jpg") right 15px no-repeat;
	padding-right:550px;
	margin-bottom:60px;
}
.shisetsu .top_area h4 img {	width:430px;}
.shisetsu .top_area ul { width:100%;}
.shisetsu .top_area li { font-size:125%; width:24%; margin:0.1em 0 !important; padding:0 !important; vertical-align:top;}
.shisetsu .top_area li.last { font-size:100%;}
.shisetsu .under_area {	padding:40px 35px 35px;}
.shisetsu .under_area:before {
	content:'';
	width:314px;
	height:36px;
	display:block;
  background: url("../images/kosodate/line_green.png") left top no-repeat;
	position:absolute;
	top:-20px;
	left:350px;
}
.shisetsu .under_area p {
	width:440px;
	float:left;
	margin:0;
}
.shisetsu .under_area ul {
	width:460px;
	float:right;
}
.shisetsu .under_area li {
	font-size:160%;
	line-height:1.6em;
}

.renkei ul { margin:30px 0;}
.renkei li {
	width:48.5%;
	min-height:12em;
	margin-bottom:2em;
	float:left;
	min-height:180px;
}
.renkei li:nth-child(even) {
	float:right;
}
.renkei li:nth-child(odd) {
	clear:both;
}
.renkei h5 span.ico_free:before ,
.renkei h5 span.ico_phone:before { width:1em;}
.renkei li h5 {	font-size:190%;}
.renkei p { font-size:150% !important;}
.renkei h5 span {
	display:block;
	margin:0;
}
}
