@charset "UTF-8";
/*--------------------
	Mixin
--------------------*/
/*--------------------
	policy
--------------------*/
#content .link {
  width: 90.625%;
  margin: 0 auto;
  padding-bottom: 5%;
  color: #555;
}
#content .link li {
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.4em;
  border-bottom: 1px solid #eb6b6c;
  padding: 0 0 3% 3%;
  margin-bottom: 3%;
}
#content .link li dl { display:table; width:100%}
#content .link li dt.fll {
	width:20%;
	float:none !important;
	display:table-cell !important;
	vertical-align:middle !important;
	padding-right:3%;
}
#content .link li dt.fll img {
	max-width:100%;
	max-height:5em;
}
#content .link li dd.flr {
	width:77%;
	text-align:left;
	float:none !important;
	display:table-cell !important;
	vertical-align:middle !important;
}
#content .link li a {
  color: #555;
  text-decoration: none;
}
#content .link li span {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1em;
}


@media print, screen and (min-width: 769px) {
  /* 769px以上用（PC用）の記述 */

#content .link {
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 80px;
}
#content .link li {
  font-size: 200%;
  padding: 0 0 15px 15px;
  margin-bottom: 15px;
}
#content .link li dt.fll {
	width:11%;
}
#content .link li dd.flr {
	width:86%;
}
#content .link li a:hover {
  text-decoration: underline;
  color: #eb6b6c;
}
#content .link li span {
  font-size: 140%;
  line-height: 1em;
}

}
