@charset "UTF-8";
/*--------------------
	Mixin
--------------------*/
/*--------------------
	policy
--------------------*/
#content {
  padding-bottom: 5%;
}
#content .policy {
  width: 90.625%;
  margin: 0 auto 7%;
}
#content h3 {
  background: #eb6b6c;
  color: #fff;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1em;
  padding: 3% 0;
  text-align: center;
  border-radius: 5px 5px 0 0;
}
#content p {
  border: 1px solid #d3d3d3;
  border-top: none;
  padding: 4.2% 5% 5%;
  border-radius: 0 0 5px 5px;
}
#content .indent1 span {
  display: block;
  text-indent: -1.5em;
  padding-left: 1.5em;
}
#content .indent2 span {
  display: block;
  text-indent: -1em;
  padding-left: 1em;
}

@media print, screen and (min-width: 769px) {
  /* 769px以上用（PC用）の記述 */
  #content {
    padding-bottom: 40px;
  }
  #content .policy {
    width: 1000px;
    margin: 0 auto 45px;
  }
  #content h3 {
    font-size: 200%;
    line-height: 1em;
    padding: 12px 0;
  }
  #content p {
    font-size: 140%;
    border: 1px solid #d3d3d3;
    border-top: none;
    padding: 20px;
  }
}
