@charset "UTF-8";
/*--------------------
	Mixin
--------------------*/
/*--------------------
	policy
--------------------*/
#content .link {
  width: 90.625%;
  margin: 20px auto;
  padding-bottom: 5%;
  color: #555;
}
#content .link li:first-child {
  border-top: 1px solid #eb6b6c;
}
#content .link li {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.4em;
  border-bottom: 1px solid #eb6b6c;
	padding:1.5em;
	word-break: break-all;
}
#content .link li a {
  color: #555;
  text-decoration: none;
}
#content .link li dl {
	position:relative;
}
#content .link li dl:before {
	content:'';
	width:1em;
	height:1em;
	font-size:13px;
	margin-bottom:-2px;
	background:#eb6b6c;
	display:block;
	position:absolute;
	top:40%;
	left:-1.8em;
	border-radius: 50%;
	margin-right:1em;
	-webkit-border-radius: 50%;
	-khtml-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
#content .link li dt:before {	display:none;}
#content .link li dt {
	width:100%;
	font-weight:bold;
	padding:0 0 0.3em 0;
	display:block;
}
#content .link li dd {
	width:100%;
	display:block;
}
.pager {
	width:100%;
	margin:0 auto 30px;
	overflow:hidden;
	text-align:center;
}
.pager li {
	font-size:20px;
	font-size:2rem;
	margin:0 0.5em;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	display:inline-block;
	font-weight:bold;
	vertical-align:middle;
}
.pager li a {
	text-decoration:none;
	display:block;
	color:#464646;
}
.pager li.no_prev ,
.pager li.prev ,
.pager li.no_next ,
.pager li.next {	border:1px solid #c9c9c9;}
.pager li.prev ,.pager li.no_prev { float:left;}
.pager li.next ,.pager li.no_next { float:right;}
.pager li.prev a ,
.pager li.next a {
	padding:0.8em 1.3em;
	background-size:1em;
	text-indent:-9999px;
}
.pager li.no_prev span ,
.pager li.no_next span {
	padding:1.2em 1.3em;
	background-size:1em;
	display:inline-block;
}
.pager li.no_prev span ,.pager li.prev a {
	background: url("../images/information/arrow_left.jpg") no-repeat center center;
}
.pager li.no_next span ,.pager li.next a {
	background: url("../images/information/arrow_right.jpg") no-repeat center center;
}
.pager li.prev:hover ,
.pager li.next:hover {	border:1px solid #eb6b6c;}
.pager li.off {
	padding:0.8em 1em;
	border:1px solid #eb6b6c;
	background:#eb6b6c;
	color:#fff;
}
.pager li.pagenation {	border:1px solid #eb6b6c;}
.pager li.pagenation a {	padding:0.8em 1em;}
.pager li.pagenation a:hover {
	background:#eb6b6c;
	color:#fff;
}


@media print, screen and (min-width: 769px) {
  /* 769px以上用（PC用）の記述 */
#content .link {
  width: 800px;
  margin: 0 auto;
  padding-bottom: 60px;
}
#content .link li {
  font-size: 150%;
	padding:2em 1em 2em 0;
}
#content .link li dl {
	width:100%;
	table-layout: fixed;
	border-collapse: collapse;
	display:table;
}
#content .link li dl:before {	display:none;}
#content .link li dt:before {
	content:'';
	width:1em;
	height:1em;
	font-size:120%;
	margin-bottom:-2px;
	background:#eb6b6c;
	display:inline-block;
	border-radius: 50%;
	margin-right:1em;
	-webkit-border-radius: 50%;
	-khtml-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
#content .link li dt {
	width:30%;
	padding:0 3% 0 0;
	display:inline-block;
	vertical-align:middle;
	position:relative;
    float:left;
}
#content .link li dd {
	width:65%;
    float:right;
    margin-bottom:10px;
	display:inline-block;
	vertical-align:middle;
}
#content .link li a:hover {
  text-decoration: underline;
  color: #eb6b6c;
}
.pager {
	width:800px;
	margin:0 auto 120px;
}
.pager li {
	font-size:150%;
	margin:0 0.5em;
}
.pager li.no_prev ,
.pager li.no_next ,
.pager li.prev ,
.pager li.next {
	float:none !important;
}
.pager li.not_prev span ,
.pager li.not_next span ,
.pager li.prev a ,
.pager li.next a {
	padding:0.8em 1.3em;
	background-size:1em;
}
.pager li.off {
	padding:0.8em 1em;
}
.pager li.pagenation a {	padding:0.8em 1em;}

}


.detail_page {
  width: 90.625%;
  margin: 4em auto 2.5em;
  padding-bottom: 5%;
  color: #555;
}
.detail_page img { max-width:100%;}
.detail_page > dt {
	margin-bottom:2em;
	padding-bottom:1em;
	border-bottom:1px solid #eb0102;
}
.detail_page > dt date {
	font-size:14px;
	font-weight:bold;
}
.detail_page > dt h3 {
	font-size:18px;
	font-size:1.8rem;
	letter-spacing:0.1em;
	margin-top:0.3em;
	line-height:1.5em;
	word-break: break-all;
}
.detail_page > dd {
}
.detail_page .fll {
	float:none;
}
.detail_page .flr {
	float:none;
	margin-bottom:2em;
}
.detail_page .flr li {
	float:left;
	margin:0 0 1em 0;
	width:49%;
}
.detail_page .flr li img { width:100%;}
.detail_page .flr li:nth-child(even) { float:right;}
.btn_area {
	text-align:center;
	margin-bottom:6em;
}
.btn_area a {
	width:55%;
	font-size:20px;
	font-size:2rem;
	padding:1em 0;
	text-align:center;
	display:inline-block;
	margin:0 auto;
	color:#fff;
	text-decoration:none;
	background:#eb6b6c;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

@media print, screen and (min-width: 769px) {
  /* 769px以上用（PC用）の記述 */
.detail_page {
	width:800px;
}
.detail_page > dt {
	margin-bottom:40px;
}
.detail_page > dt date {
	font-size:140%;
}
.detail_page > dt h3 {
	font-size:260%;
	letter-spacing:0.1em;
	margin-top:0.3em;
	line-height:1.5em;
	font-weight:normal;
}
.detail_page > dd {
}
.detail_page .fll {
	width:460px;
	float:left;
}
.detail_page .flr {
	width:290px;
	text-align:right;
	float:right;
}
.detail_page .flr li {
	margin-bottom:20px;
	text-align:right;
	float:none;
	width:100%;
}
.detail_page .flr li img { width:auto;}
.btn_area {	margin-bottom:100px;}
.btn_area a {
	font-size:150%;
	width:240px;
}
}
