@charset "UTF-8";
/*--------------------
	Mixin
--------------------*/
/*--------------------
	policy
--------------------*/
#content .bxslider {
  background: url("../images/common/bg_dotted.jpg") left top;
}
#content .bxslider li {
  padding: 0.8% 0.2%;
}
#content .bx-wrapper .bx-viewport {
  border: none;
  left: 0;
  background: transparent;
  box-shadow: none;
}
#content .bx-wrapper .bx-prev {
  left: 5px;
  background: url("../images/top/btn_prev.png") no-repeat left top;
  background-size: cover;
}
#content .bx-wrapper .bx-next {
  right: 5px;
  background: url("../images/top/btn_next.png") no-repeat left top;
  background-size: cover;
}
#content .cm1 {
  width: 90.625%;
  margin: 0 auto;
  padding-bottom: 1.7%;
}
#content .cm1 img {
  display: block;
  width: 33%;
  margin: 3% auto 0;
}
#content .cm1 p {
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 1.556em;
  color: #ed7272;
  padding: 0 2%;
}
#content .cm1 p br {
  display: none;
}
#content .cm1 p.bg_gra {
  font-size: 16px;
  font-size: 1.6rem;
  color: #dc4545;
  padding: 5% 0;
}
#content .cm2 {
  padding: 1.7% 0;
  background: url("../images/common/bg_dotted.jpg") left top;
}
#content .cm2 .youtube {
  width: 90.625%;
  margin: 0 auto 2%;
}
#content .cm2 p {
  display: block;
  width: 90.625%;
  margin: 0 auto;
}
#content .cm3 {
  padding: 0;
  background: url("../images/common/bg_dotted.jpg") left top;
}
#content .cm3 h3 {
	background:#fff;
	text-align:center;
	color:#dc4545;
  font-size: 16px;
  font-size: 1.6rem;
	padding:1em 0;
}
#content .cm3 ul {
	width:95%;
	margin:0 auto;
	padding:2em 0;
}
#content .cm3 li {
	margin-bottom:1.5em;
}
#content .cm3 li dl {
	background:#fff;
}
#content .cm3 li dd {
	padding:1em 0 0;
}
#content .cm3 li h5 {
	padding:0 5% 0.5em;
	line-height:1.7em;
	color:#5a5a5a;
  font-size: 16px;
  font-size: 1.6rem;
}
#content .cm3 li p {
	color:#5a5a5a;
	padding:0 5% 1em;
}
#content .cm3 li p.tltle_name {
	font-weight:bold;
}
#content .cm3 .btn_area {
	width:80%;
	margin:0 auto;
	padding-bottom:3em;
}
#content .cm3 li h4 {
	text-align:center;
	color:#fff;
	font-size:19px;
	font-size:1.9rem;
	padding:0.5em 0;
/* border-radius */
border-radius:5px 5px 0px 0px;
-webkit-border-radius:5px 5px 0px 0px;
-moz-border-radius:5px 5px 0px 0px;
}
#content .cm3 li.list_bridal h4 { /* 結婚部門  */
  background: url("../images/episode/bg_blue.jpg") left top;
}
#content .cm3 li.list_pregnancy h4 { /* 妊娠部門 */
  background: url("../images/episode/bg_pink.jpg") left top;
}
#content .cm3 li.list_birth h4 { /* 出産部門  */
  background: url("../images/episode/bg_green.jpg") left top;
}
#content .cm3 li.list_child h4 { /* 子育て部門 */
  background: url("../images/episode/bg_orange.jpg") left top;
}
#content .cm3 li a {
	display:block;
	background-size:contain; 
}
#content .cm3 li a:hover { opacity:0.7;}


#content .info {
  width: 90.625%;
  margin: 0 auto;
  padding: 7% 0 0;
}
#content .info dl a {
color: #555;
text-decoration: none;
}
#content .info dl a:hover {
text-decoration: underline;
color: #eb6b6c;
}

#content .info h3 {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1em;
  color: #545454;
  position: relative;
  padding: 3%;
  padding-left: 25%;
}
#content .info h3 img {
  width: 22%;
  margin-right: 2%;
  position: absolute;
  top: 0;
  left: 0;
}
#content .info h3 span {
  font-size: 12px;
  font-size: 1.2rem;
  color: #eb6b6c;
  vertical-align: top;
  margin-left: 4%;
  font-weight: normal;
}
#content .info dl {
  font-size: 13px;
  font-size: 1.3rem;
  margin: 5% 0 3%;
	border-bottom: 1px solid #d4d4d4;

}
#content .info dl dt {
  float: left;
	width:23%;
  padding-right: 4%;
  padding-bottom: 2%;
  margin-bottom: 2%;
}
#content .info dl dt:before {
  content: "●";
  color: #eb6b6c;
  margin-right: 5%;
}
#content .info dl dd {
	float:right;
	width:70%;
  padding-bottom: 2%;
  margin-bottom: 2%;
	word-break: break-all;
}
#content .info .info_list {
  display: block;
  display: none;
  color: #fff;
  background: #eb6b6c;
  text-decoration: none;
  text-align: center;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1em;
  padding: 3.3% 0 2.5%;
}
#content .info .fb_area {
  width: 95%;
  margin: 0 auto 4%;
}
#content .info .btn_tw {
  background: #479be2;
  border-radius: 5px;
  width: 95%;
  margin: 0 auto 6%;
}
#content .info .btn_tw img {
  width: 7%;
  margin-right: 5%;
}
#content .info .btn_tw a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 3% 0;
  text-align: center;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.4em;
}


#content .info .pc_left dd .new_img{
    
      margin-top:10px;
      }
   
@media print, screen and (min-width: 769px) {
  /* 769px以上用（PC用）の記述 */
  #content .slide_bg {
    width: 100%;
    background: url("../images/common/bg_dotted.jpg") left top;
    margin-top: 20px;
  }
  #content .bxslider {
    background: transparent;
  }
  #content .bxslider li {
    padding: 15px 0;
  text-align: left;
  }
  #content .bxslider li img {
    width: 1000px;
    margin: 0 auto;
  }
  #content .bx-wrapper .bx-prev {
    display: none;
  }
  #content .bx-wrapper .bx-next {
    display: none;
  }
  #content .cm1 {
    width: 1000px;
    margin: 30px auto 0;
    padding-bottom: 15px;
    position: relative;
  }
  #content .cm1 img {
    width: 169px;
    margin: 0;
    position: absolute;
    top: 13px;
    left: -25px;
  }
  #content .cm1 p {
    font-size: 160%;
    color: #ed7272;
    padding: 0 0 0 150px;
  }
  #content .cm1 p br {
    display: inline;
  }
  #content .cm1 p.bg_gra {
    margin-left: 100px;
    font-size: 200%;
    border-radius: 8px;
    padding: 5px 0 5px 60px;
  }
  #content .cm2 {
    padding: 15px 0;
    background: url("../images/common/bg_dotted.jpg") left top;
  }
  #content .cm2 .cf {
    width: 1000px;
    margin: 0 auto;
  }
  #content .cm2 .youtube {
    width: 500px;
    margin: 0;
    float: left;
  }
  #content .cm2 .youtube iframe {
    height: 294px;
  }
  #content .cm2 p {
    display: block;
    width: 473px;
    margin: 0;
    float: right;
  }
	
#content .cm3 .cm_wrap {
	width: 1000px;
	margin: 0 auto;
}
#content .cm3 h3 {
	text-align:center;
	padding:1.5em 0;
	background-color:inherit;
}
#content .cm3 ul {
	width:100%;
	margin:0 auto;
	padding-bottom:2em;
}
#content .cm3 li {
	width:231px;
	float:left;
	margin-left:25px;
	margin-bottom:1.5em;
}
#content .cm3 li:first-child {
	margin-left:0;
}
#content .cm3 li h4 {
	padding:0;
/* border-radius */
border-radius:0;
-webkit-border-radius:0;
-moz-border-radius:0;
background-image:none !important;
}
#content .cm3 li dl {
	background:#fff;
}
#content .cm3 li h5 {
  font-size: 140%;
	padding:0 15px 0.5em;
}
#content .cm3 li p {
	padding:0 15px 0.5em;
  font-size: 120%;
}
#content .cm3 .btn_area {
	width:484px;
	text-align:center;
	margin:0 auto;
	padding-bottom:2em;
}

	
	
  #content .info {
    width: 1000px;
    margin: 0 auto;
    padding: 45px 0 0px;
  }
  #content .info .pc_left {
    float: left;
    width: 590px;
    
  }
  
  #content .info .pc_right {
    float: right;
    width: 375px;
  }
  #content .info h3 {
    font-size: 240%;
    color: #545454;
    position: relative;
    padding: 0;
    padding-left: 0;
  }
  #content .info h3 img {
    width: 132px;
    margin-right: 15px;
    position: static;
    vertical-align: middle;
  }
  #content .info h3 span {
    font-size: 12px;
    color: #eb6b6c;
    vertical-align: middle;
    margin-left: 20px;
    font-weight: normal;
  }
  #content .info dl {
    font-size: 140%;
    margin: 20px 0 20px;
    border-bottom: 1px solid #d4d4d4;
  }
  #content .info dl dt {
    float: left;
		width:25%;
    padding-right: 3%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
  }
  #content .info dl dt:before {
    content: "●";
    color: #eb6b6c;
  }
  #content .info dl dd {
		width:72%;
		display:block;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
  }

  #content .info dl dd strong{
      font-size:150%;
      }
  #content .info .pc_left dd{
      position:relative;
      float:right;
      }
  #content .info .pc_left dd .new_img{
      position:absolute;
      top:184px;
      right:0px;
      margin-top:10px;
      }
  
  #content .info .info_list {
    display: block;
    display: none;
    color: #fff;
    background: #eb6b6c;
    text-decoration: none;
    text-align: center;
    font-size: 160%;
    line-height: 1em;
    padding: 15px 0;
  }
  #content .info .fb_area {
    width: 100%;
    margin: 0 auto 20px;
  }
  #content .info .btn_tw {
    background: #479be2;
    border-radius: 5px;
    width: 100%;
    margin: 0 auto;
  }
  #content .info .btn_tw img {
    width: 30px;
    margin-right: 12px;
    vertical-align: middle;
  }
  #content .info .btn_tw a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px 0;
    text-align: center;
    font-size: 140%;
    line-height: 1.4em;
  }
}

@media print {
  #content .bxslider li img {
    margin-left:0px;
  }
}
